<div id="<%= dom_id import %>">
  <div>
    <strong>Original file name:</strong>
    <%= import.original_file_name %>
  </div>

  <div>
    <strong>Fiscal year:</strong>
    <%= import.fiscal_year %>
  </div>

  <div>
    <strong>Fiscal quarter:</strong>
    <%= import.fiscal_quarter %>
  </div>

  <div>
    <strong>Number of royalties added:</strong>
    <%= import.number_of_royalties_added %>
  </div>

</div>
