<%= form_with(model: statement) do |form| %>
  <% if statement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
        <% statement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fiscal_year, style: "display: block" %>
    <%= form.number_field :fiscal_year, value: statement.fiscal_year || Date.current.year %>
  </div>

  <div>
    <%= form.label :fiscal_quarter, style: "display: block" %>
    <%= form.select :fiscal_quarter, [ 1, 2, 3, 4 ], { selected: statement.fiscal_quarter || ((Date.current.month - 1) / 3 + 1) } %>
  </div>

  <div>
    <%= form.label :writer_ids, "Writers (select one or more)", style: "display: block" %>
    <div class="writer-select">
      <%= form.collection_check_boxes :writer_ids, Writer.order(:last_name, :first_name), :id, :csv_name do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit statement.new_record? ? "Create Statement" : "Update Statement" %>
  </div>
<% end %>
