<%= form_with(model: statement) do |form| %>
  <% if statement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(statement.errors.count, "error") %> prohibited this statement from being saved:</h2>

      <ul>
        <% statement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :fiscal_year, style: "display: block" %>
    <%= form.number_field :fiscal_year %>
  </div>

  <div>
    <%= form.label :fiscal_quarter, style: "display: block" %>
    <%= form.number_field :fiscal_quarter %>
  </div>

  <div>
    <%= form.label :invoiced, style: "display: block" %>
    <%= form.checkbox :invoiced %>
  </div>

  <div>
    <%= form.label :invoiced_at, style: "display: block" %>
    <%= form.datetime_field :invoiced_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
