<div id="<%= dom_id statement %>">
  <div>
    <strong>Fiscal year:</strong>
    <%= statement.fiscal_year %>
  </div>

  <div>
    <strong>Fiscal quarter:</strong>
    <%= statement.fiscal_quarter %>
  </div>

  <div>
    <strong>Invoiced:</strong>
    <%= statement.invoiced %>
  </div>

  <div>
    <strong>Invoiced at:</strong>
    <%= statement.invoiced_at %>
  </div>

</div>
